
body {
    margin: 0px;
    background-color: #40513B;
    text-align: center;
    /*font-family: verdana, sans-serif;*/
    font-family: 'Merriweather', serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 200%;

}

h1 {
    /*font-family: 'Sacramento', cursive;*/
    font-family: 'Mochiy Pop P One', sans-serif;
    /*margin: 1000px auto 0px auto;*/
    /*font-size: 90px;*/
    font-size: 5.62rem;
/*    line-height: 4;*/
    color: #40513B;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #EDF1D6;
}

.description {
    color: #40513B;

}
.introduction {
    color: #9DC08B;
}

.profile-pic{
    margin-top: 50px;
    border-radius: 50%;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #9DC08B;
}
p {
    font-size: 1.5rem;
    color: #EDF1D6;
}
.top-container {
    background-color: #9DC08B;
/*    background-color: #edd6f1;*/
    position: relative;
    padding-top: 300px;

}

#my_name {
    margin-top: 0px;
/*    color: #40513B;*/
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 25%;
    top: 25%;
}

.bottom-cloud {
    position: absolute;
    left: 25%;
    bottom: 300px;
}

.middle-container {
    margin-bottom: 25px;
}
.bottom-container {
    padding-top: 50px;
    background-color: #609966;
    border-bottom: 0;
}

a {
    color: #40513B;
    font-family: 'Merriweather', serif;
    margin: 10px 40px 10px 40px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #9DC08B;

}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.music-img {
    width: 25%;
    float: left;
    margin-right: 50px;
}

.coding-img {
    width: 25%;
    float: right;
    margin-left: 50px;
}


.coding-skill {
/*    clear: right;*/
}


hr{
    border: none;
    border-top: 15px dotted #9DC08B;
    width: 10%;
    margin: 50px auto 50px auto;

}


.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Mochiy Pop P One', sans-serif;
  color: #40513B;
  font-size: 20px;
  background: #9DC08B;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #609966;
  text-decoration: none;
  color: #9DC08B;
}


.copyright {
    font-size: 1rem;
    padding: 20px auto 20px auto;
}

